snippet sql_add_column "Dodanie kolumny do tabeli."
-- Jeżeli dodajesz do xlog to przesuń kolumnę id na koniec tabeli
ALTER TABLE tabela_w_bazie
ADD COLUMN kolumna_w_bazie typ_danych;
endsnippet
snippet sql_wsad "dodanie"
endsnippet

